

h1{
    text-align: center;
    font-size: 300%;
}
hr{
    width:50%;
    text-align:center;
   color: lightblue;
}
.sidenav{
    text-align: right;
    margin-right: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    text-align: center;
}

 /* The sidebar menu */
.sidenav {
  margin: 0;
  padding: 0;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 0; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding-right: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 150px;
  font-size: 36px;
  margin-left: 50px;
}
span{
  padding-left: 97%;
  font-size: 50px;
}
/* Style page content */
h2 {
  background-color: #818181;
  width: fit-content;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.foot{
    text-align: center;
    size: 50%;
    padding-top: 10%;
}
img{
    width: 35%;
    height: 35%;
    padding-left: 30%; 
}

.yap{
    padding-left: 0.4%;
}
.between{
    color: #818181;
    opacity: 30%;
    width: 5%;
    vertical-align: right;
}

.furry{
    padding-left: 63%;

    width: 25%;
    height: 25%;
}